body {
    background-image: url(light-grey-terrazzo.png)
}

h1 {
    font-weight: 30px;
    font-size:100px;
    background-color: green;
    text-align:center;
    color:white;
}
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 2.0;
    background-color:orange;

	width: 30%;
}